<!-- ***************************************setup*********************************************** -->
<%- include("parts/header") %>
<%- include("parts/navbar") %>

<!-- ***************************************container*********************************************** -->
<div class="container" id="content">
    <div class="row">
        <input type="hidden" id="groupId" value="<%= groupId %>">

<!-- **************************chat info*********************************** -->
        <div class="col col-3">
            <div class="card card-chat-Friend-Data" >
                <img src="/<%= groupImage %>" class="card-img-top" alt="image">
                <div class="card-body">
                  <h3 class="card-title mb-5"><%= groupName %></h3>
                  <h6 class="text-center">Members</h6>
                  <div class="check-friends">
                      <% for(member of members) { %>
                    <div class="form-check pl-0">
                    <img src="/<%= member.image %>" alt="img">
                        <a href="/profile/<%= member._id %> "><%= member.username %></a>
                      </div> 
                      <% } %>
                  </div>
                </div>
              </div>
        </div>

<!-- **************************chat*********************************** -->
        <div class="col col-9">
            <div class="content-chat">
                <div class="content-chat-msg" id="content-group-msg">
                <% for(message of messages) { %>
                    <% if(message.sender == myId) { %>
                        <div class="content-msg">
                            <span class="myMsg"><%= message.content%></span>
                        </div>
                    <% } else { %>
                        <div class="content-msg">
                        <span class="friendMsg"><%= message.content%></span>
                        </div>
                        <% } %>
                <% } %>
            </div>
                <form>
            <input type="text" class="form-control" placeholder="Type a message" id="messageGroup">
            <input type="button" value="Send" class="btn btn-primary" id="sendGroup">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ***************************************setup*********************************************** -->
<%- include("parts/search") %>
<%- include("parts/scripts") %>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/sockets/init.js"></script>
<script src="/js/sockets/chat.group.js"></script>

</body>
</html>